.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


.tweet_box {
  height: 150px;
  width: 100%;
  left: 0;
  top: 0;
  background: #D0D0D0;
  border: solid;
  border-width: 2px;
  border-color: #B0B0B0;
  padding-left: 10px;
  padding-top: 10px;
}

button a {
  text-decoration: none;
  color: black;
}



