<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>
  <ol>
    <% if @tweets %>
  <div><%@tweets.each do |i| %>
       <li><p><%= i.created %></p>
       <%=i.tweet %></li>
       <%end%>
      <%end%>

     </ll>


  </div>
</div>